{% extends 'app/base.html' %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    {% block content %} 
    <form action="" method="POST" novalidate>
        {% csrf_token %} {{form.as_p}}
        <input type="submit" value="submit">
    </form>
    <a href="{% url 'password_reset' %}">Password Reset</a>
    {% endblock content %}
</body>

</html>